/* estilos para dispositivos moviles */
@media (max-width: 500px) {
    .parisienne-regular {
        font-size: 39px;
    }
    .texto-quienes-somos {
        column-count: 1;
        font-size: 17px;
        width: 90%;
    } 

    .contenedor-contacto {
        display: flex;
        align-items: flex-start;
         flex-direction: column-reverse;
        }

    .formulario-wrapper {
           height: 600px;
        }
    .mapa {
            width: 100%;
            height: 400px;}
        
    #boton-arriba {
        bottom: 70px;
        right: 7px;
    }



}

@media (min-width:692px) and (max-width: 1024px) {
    header {
        background-color: #7C8B61;
        padding: 5px 20px;
        display: flex
    ;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
    } 
}

@media (max-width: 690px) {
    .botones {
      grid-template-columns: repeat(2, 1fr); 
      justify-items: center;
    }
  }


@media (min-width: 500px) and (max-width: 678px) {
    .contenedor-contacto {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 100px;
        padding: 20px;
        flex-direction: column-reverse;
    }
    .mapa {
        width: 99%;
    }
    .formulario-wrapper {
        max-width: none;
        width: 99%;
    }
}

@media (max-width: 970px) {
    .contenedor-galeria {
      grid-template-columns: repeat(2, 1fr); 
    }
  
    .contenedor-galeria img {
      width: 100%;
      height: auto; 
    }
  }