#zoomImg {
  filter: brightness(0.9);
}


header {
  background-color: #7C8B61;    
}

header h1 {
  font-size: 60px;
}

.contenedor-header {
  display: flex;
  align-items: center; 
  gap: 40px;
}

.quienes-somos1 {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 20px;
  font-size: 20px;
  width: 250px; 
  margin: 20px auto;
  padding: 13px;
}

.texto-quienes-somos {
  column-count: 3;
  column-gap: 20px;
  max-width: 1100px;
  margin: 0 auto; 
  padding: 10px;
  font-size: 18px;
}



body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f5f5;
}

.servicios-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 80px;
  max-width: 1100px;
  margin: 50px auto;
  padding: 20px;
}

.tarjeta-servicio {
  background-color: #c475586c; 
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  min-height: 470px;
}
.tarjeta-nutricion{
  background-color: #c475586c; 
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  min-height: 470px;
}

.imagen-nutricion {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 15px;
  object-fit: cover;
  filter: brightness(0.8);
}



.tarjeta-servicio h3, .tarjeta-nutricion h3{
  font-size: 22px;
  margin-bottom: 10px;
  color: #e3c784;
}

.tarjeta-servicio hr {
  border: none;
  border-top: 1px solid white;
  margin: 10px 0;
}

.tarjeta-servicio p {
  font-size: 16px;
  line-height: 1.6;
}
